*{ box-sizing: border-box; }

body {
  background-color: #f5efe3;
  width: 980px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;

}

main {
  display: flex;
  width: 980px;
  background-color: #ffffff;
}


.logga {
  vertical-align: middle;
}

/* menyn */
.meny {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
  
}

.meny > li {
  position: relative;
}

/* menyn, länkarna */
.meny > li > a {
  display: block;
  padding: 15px;
  color: inherit;
  text-decoration: none;
}

/* Färgskiftning när muspekaren vilar över rubrikerna */
.meny > li:hover > a {
  background-color: rgb(186, 190, 178);
}

/* dropdownmenyn */
.meny > li > ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(186, 190, 178);
  position: absolute; 
  top: 100%;
  left: 0;
  width: 200px;
  display: none;
}

.meny > li:hover > ul {
  display: block;
}

/* dropdownmenyn, länkar */
.meny > li > ul > li > a {
  display: block;
  padding: 15px;
  color: inherit;
  text-decoration: none;
}

/* dropdownmenyn, muspekaren på länkar */
.meny > li > ul > li > a:hover {
  text-decoration: underline;
}

nav {
  background-color: #a6aa9c;
  
}

.left-column {
  background-color: #ffffff;
  width: 100%;
  margin-left: 0px;
  padding-left: 10px;
  padding-bottom: 30px;
}

.lista > h2 {
  font-size: 18px;
  margin-top: 60px;
}

.lista > ul {
  list-style-type: none;
}

.lista > ul > li {
  margin-left: -40px;
}

.lista > ul > li > a {
  color: #000000;
  text-decoration: none;
}

.lista > ul > li {
  border: #f5efe3 solid 2px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  
}

.lista > ul > li:hover {
  border: #000000 solid 2px;
}


.objektbesk {
  float: right;
  width: 65%;
  padding-right: 10px;
  font-size: 14px;
}

.kartlänk > a {
  color: #d1b29c;
  font-size: 14px;

}

.karta > h2 {
  font-size: 16px;
  border-top: #f5efe3 solid 2px;
  padding-top: 10px;
  margin-top: 60px;
}

/* karta */
iframe {
  border: 0;
}

.right-column {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 10px;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  border-left: #f5efe3 solid 2px;
}

/* öppetider höger sida */
.oppettider {
  text-align: center;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: #f5efe3 solid 2px;
  padding-bottom: 30px;
}

.oppettider > h1 {
  font-size: 16px;
}

.oppettider > p {
  font-size: 14px;
}

/* reklambild höger sida */
.bildlank {
  margin-top: 30px;
}

.bildlank > a > img {
  width: 200px;
}

/* formulär höger sida*/
.field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
#meddelande {
  width: 100%;
}
form {
  border-radius: 10px;
}


footer {
  background-color: #a6aa9c;
  padding-left: 20px;
  padding: 20px 10px;
  font-size: 14px;
}

footer > a {
  color: #000000;
}

/* Produktsidan */
.produktbild {
  display: flex;
  align-items: flex-start;
}

.produktbild > img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.beskrivning {
  flex-direction: row;
}

.prislista {
  margin: 10px 175px;
}

.prislista > table {
  border: solid black 1px;
  padding: 10px 50px ;
  text-align: center;
  width: 600px;
}
