*{ box-sizing: border-box; }

body {
  background-color: #f5efe3;
  width: 980px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;

}

main {
  display: flex;
  width: 980px;
  background-color: #ffffff;
}


.logga {
  vertical-align: middle;
}

table {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
}

td {
  padding: 0 50px;
}

td > a {  
  color: black;
  text-decoration: none;
}

nav {
  background-color: #a6aa9c;
  padding: 10px;
}

.left-column {
  background-color: #ffffff;
  width: 100%;
  margin-left: 0px;
  padding-left: 10px;
  padding-bottom: 30px;
}

.lista > h2 {
  font-size: 18px;
  margin-top: 60px;
}

li > a {
  color: #000000;
  text-decoration: none;
}

li {
  border: #f5efe3 solid 2px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

li:hover {
  border: #000000 solid 2px;
}


.objektbesk {
  float: right;
  width: 65%;
  padding-right: 10px;
  font-size: 14px;
}

.kartlänk > a {
  color: #d1b29c;
  font-size: 14px;

}

.karta > h2 {
  font-size: 16px;
  border-top: #f5efe3 solid 2px;
  padding-top: 10px;
  margin-top: 60px;
}
  

.right-column {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 10px;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  border-left: #f5efe3 solid 2px;
}

.oppettider {
  text-align: center;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: #f5efe3 solid 2px;
  padding-bottom: 30px;
}

.oppettider > h1 {
  font-size: 16px;
}

.oppettider > p {
  font-size: 14px;
}

.bildlank {
  margin-top: 30px;
}

.bildlank > a > img {
  width: 200px;
}

iframe {
  border: 0;
}

footer {
  background-color: #a6aa9c;
  padding-left: 20px;
  padding: 20px 10px;
  font-size: 14px;
}

footer > a {
  color: #000000;
}
.choklad {
  display: flex;
  justify-content: space-evenly;
  margin-left: -50px;
}
.chokladbeskrivning {
  flex-direction: row;
}

.prislista{
  margin: 10px 50px;
}
th, td {
  border: solid black 1px;
  padding: 10px 100px ;
  text-align: center;
}